
.ipynb_checkpoints/create_setup-checkpoint.ipynb
__pycache__/google.cpython-37.pyc
.ipynb_checkpoints/Kickstarter_dataproject-checkpoint.ipynb
duration_percfunded.jpg
.ipynb_checkpoints/credit_fraud_risk_project-checkpoint.ipynb
*.jpg
Data Project/ASR Data Analysis Assessment.pdf
